<a class="btn btn-primary btn-block" href="#users">List User</a>

<fieldset>
    <legend><i class="fa fa-cloud-download"></i> Add User </legend>
</fieldset>

<div class="row">
    <form name="form">
        <input type="hidden" ng-model="user.id" >
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="user.name" placeholder="Name">
        </div>
        <button class="btn btn-primary" ng-click="addUser(user)">Save</button>
    </form>

</div>