<a class="btn btn-primary" href="#users">
    <span class="glyphicon glyphicon-arrow-left"></span>
    {{'generic.Back' | translate}}
</a>

<fieldset>
    <legend><i class="fa fa-cloud-download"></i> {{labelOperation}}</legend>
</fieldset>

<div class="row">
    <form name="form" ng-submit="saveUser(user)">
        <input type="hidden" ng-model="user.id" >
        <div class="form-group">
            <label>{{'users.Name' | translate}}</label>
            <input type="text" class="form-control" ng-model="user.name" placeholder="{{'users.Name' | translate}}">
        </div>
        <button class="btn btn-primary">
            <span class="glyphicon glyphicon glyphicon-ok"></span>
            {{'generic.Save' | translate}}
        </button>
    </form>

</div>