<div ng-include src="'/public/views-angular/message.html'"></div>
<a class="btn btn-primary btn-block" href="#users/form">{{'users.NewUser' | translate}}</a>

<!-- /.panel-heading -->
<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="1%">#</th>
                <th>{{'users.name' | translate}}</th>
                <th>{{'generic.Action' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.id}}</td>
                <td><a href="#users/detail/{{user.id}}">{{user.name}}</a></td>
                <td>
                    <a class="btn btn-success" href="#users/edit/{{user.id}}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true" title="{{'generic.Edit' | translate}}"></span>
                    </a>
                    <a class="btn btn-danger" ng-click="removeUser(user);" title="{{'generic.Delete' | translate}}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /.table-responsive -->
</div>