<a class="btn btn-primary" href="#users/form">
    <span class="glyphicon glyphicon-plus"></span>
    {{'generic.New' | translate:[('users.User' | translate)]}}
</a>

<!-- /.panel-heading -->
<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="1%">#</th>
                <th>{{'users.Name' | translate}}</th>
                <th>{{'occupations.Occupation' | translate}}</th>
                <th width="25%">{{'generic.Action' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in ctrl.paginate.listPaginated">
                <td>{{user.id}}</td>
                <td><a href="#users/detail/{{user.id}}">{{user.name}}</a></td>
                <td>{{user.occupation.name}}</td>
                <td>
                    <a class="btn btn-success" href="#users/edit/{{user.id}}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        {{'generic.Edit' | translate}}
                    </a>
                    <a class="btn btn-danger" ng-click="ctrl.removeUser(user);">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {{'generic.Delete' | translate}}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination paginate="ctrl.paginate"></pagination>
    </div>
    <!-- /.table-responsive -->
</div>