<a class="btn btn-primary" href="#users">
    <span class="glyphicon glyphicon-arrow-left"></span>
    {{'generic.Back' | translate}}
</a>

<fieldset>
    <legend><i class="fa fa-cloud-download"></i> {{labelOperation}}</legend>
</fieldset>

<div class="row">
    <form name="form" ng-submit="ctrl.saveUser(ctrl.user)">
        <input type="hidden" ng-model="ctrl.user.id" >
        <div class="form-group">
            <label>{{'users.Name' | translate}}</label>
            <input type="text" class="form-control" ng-model="ctrl.user.name" placeholder="{{'users.Name' | translate}}">
        </div>
        <div class="form-group">
            <label>{{'occupations.Occupation' | translate}}</label>
            <select class="form-control" ng-model="ctrl.user.occupation.id" ng-init="ctrl.user.occupation.id"
                    ng-options="o.id as o.name for o in ctrl.occupations">
                <option value="">-- {{'generic.select' | translate}} --</option>
            </select>
        </div>
        <button class="btn btn-primary">
            <span class="glyphicon glyphicon glyphicon-ok"></span>
            {{'generic.Save' | translate}}
        </button>
    </form>

</div>