<a class="btn btn-primary" href="#users">
    <span class="glyphicon glyphicon-arrow-left"></span>
    {{'generic.Back' | translate}}
</a>

<fieldset>
    <legend><i class="fa fa-cloud-download"></i> {{'generic.Detail' | translate:[('users.User' | translate)]}} </legend>
</fieldset>
<div class="row">
    <table>
        <tr>
            <td class="tdDetailLeft">#</td>
            <td>{{ctrl.user.id}}</td>
        </tr>
        <tr>
            <td class="tdDetailLeft">{{'users.Name' | translate}}</td>
            <td>{{ctrl.user.name}}</td>
        </tr>
        <tr>
            <td class="tdDetailLeft">{{'occupations.Occupation' | translate}}</td>
            <td>{{ctrl.user.occupation.name}}</td>
        </tr>
        <tr>
            <td class="tdDetailLeft">{{'generic.Created' | translate}}</td>
            <td>{{ctrl.user.created | date:('generic.date.format' | translate)}}</td>
        </tr>
        <tr>
            <td class="tdDetailLeft">{{'generic.Modified' | translate}}</td>
            <td>{{ctrl.user.modified | date:('generic.date.format' | translate)}}</td>
        </tr>
    </table>
</div>