.ng-isolate-scope{
    position: fixed;
    right: 13px;
}

.ng-isolate-scope ul{
    padding: 7px;
}

.ng-isolate-scope li{
    list-style: none;
}

.tdDetailLeft{
    font-weight: bold;
    text-align: right;
    padding: 10px;
}
