.ng-alert{
    position: fixed;
    right: 13px;
}

.ng-alert ul{
    padding: 7px;
}

.ng-alert li{
    list-style: none;
}

.tdDetailLeft{
    font-weight: bold;
    text-align: right;
    padding: 10px;
    vertical-align: top;
}
