<div class="text-center">
    <ul class="pagination" ng-if="1 < paginate.pageCount">
        <li ng-class="{ disabled : paginate.currentPage == 1 }" ng-click="(paginate.currentPage != 1 ? setCurrencyPage(1) : false)">
            <a href="">{{'generic.First' | translate}}</a>
        </li>
        <li ng-class="{ disabled : paginate.currentPage == 1 }" ng-click="(paginate.currentPage != 1 ? setCurrencyPage(paginate.currentPage - 1) : false)">
            <a href="">{{'generic.Previous' | translate}}</a>
        </li>
        <li ng-repeat="pageNumber in trackerPage(paginate.currentPage, paginate.pageCount) track by $index"
            ng-class="{ active : paginate.currentPage == pageNumber, disabled : pageNumber == '...' }"
            ng-click="(paginate.currentPage != pageNumber ? setCurrencyPage(pageNumber) : false)">
            <a href="">{{ pageNumber }}</a>
        </li>
        <li ng-class="{ disabled : !hasNextPage }" ng-click="(paginate.currentPage != paginate.pageCount ? setCurrencyPage(paginate.currentPage + 1) : false)">
            <a href="">{{'generic.Next' | translate}}</a>
        </li>
        <li ng-class="{ disabled : !hasNextPage }">
            <a href="" ng-click="(paginate.currentPage != paginate.pageCount ? setCurrencyPage(paginate.pageCount) : false)">{{'generic.Last' | translate}}</a>
        </li>
    </ul>
</div>