<!DOCTYPE html>

<html ng-app="appModule">
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/dist/play-angular.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/javascripts/bower_components/bootstrap/dist/css/bootstrap.css'}">

        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/Globe.png'}">
    </head>
    <body>
        <script src="@{'/public/javascripts/dist/vendor.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script>
         _.contains = _.includes;
         var _contextPath = "${contextPath}";
        </script>
        <script src="@{'/public/javascripts/dist/modules.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/dist/configs.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/dist/services.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/dist/controllers.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/dist/filters.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/dist/directives.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>

        #{get 'moreScripts' /}
        <div class="container-fluid" ng-controller="mainCtrl as ctrl">
            <div style="text-align: right">
                <img src="@{'/public/images/en.png'}" style="{{ctrl.language != 'en' ? 'opacity:0.4;cursor: pointer' : ''}}" title="English" height="42" width="42" ng-click="ctrl.setLanguage('en')">
                <img src="@{'/public/images/pt-br.png'}" style="{{ctrl.language != 'pt-br' ? 'opacity:0.4;cursor: pointer' : ''}}" title="Português" height="42" width="42" ng-click="ctrl.setLanguage('pt-br')">
            </div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">SysPlay</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <!--li class="active"><a href="#/users">Home <span class="sr-only">(current)</span></a></li-->
                            <li>
                                <a href="#/projects">{{'generic.Projects' | translate}}</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    {{'generic.Register' | translate}} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#/occupations">{{'generic.Occupations' | translate}}</a></li>
                                    <li><a href="#/users">{{'generic.Users' | translate}}</a></li>
                                    <!--li><a href="#">Another action</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li-->
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <span us-spinner="{radius:30, width:8, length: 16}"></span>
            <flash-message show-close="true" ></flash-message>

            <div class="row-fluid">
                <!--Body content-->
                <!--#{doLayout /}-->
                <div ng-view />
            </div>
        </div>

    </body>
</html>
