<!DOCTYPE html>

<html ng-app="appModule">
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-3.3.5-dist/css/bootstrap.css'}">

        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>
        <script src="@{'/public/javascripts/jquery-2.2.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/stylesheets/bootstrap-3.3.5-dist/js/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/angular-1.4.7/angular.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/angular-1.4.7/angular-route.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/modules/app.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/config/routesConfig.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/config/genericConfig.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/angular-1.4.7/angular-resource.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/angular-1.4.7/i18n/angular-locale_pt-br.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/angular-1.4.7/angular-cookies.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/spin.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/angular-loading/angular-spinner.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/angular-loading/angular-loading-spinner.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/bootbox.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/angular-flash/angular-flash.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>

        <script src="@{'/public/javascripts/app/services/flashService.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/services/usersFactory.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/services/occupationsFactory.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/services/projectsFactory.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/services/translateService.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/controllers/mainCtrl.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/controllers/userListCtrl.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/controllers/userAddCtrl.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/controllers/userEditCtrl.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/controllers/userDetailCtrl.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/controllers/projectListCtrl.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/controllers/projectAddCtrl.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/controllers/projectEditCtrl.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/controllers/projectDetailCtrl.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/controllers/occupationListCtrl.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/controllers/occupationAddCtrl.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/controllers/occupationEditCtrl.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/controllers/occupationDetailCtrl.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app/filters/translateFilter.js'}" type="text/javascript" charset="${_response_encoding}"></script>

        #{get 'moreScripts' /}
        <div class="container-fluid" ng-controller="mainCtrl">
            <div style="text-align: right">
                <img src="@{'/public/images/en.png'}" style="{{language != 'en' ? 'opacity:0.4' : ''}};cursor: pointer" title="English" height="42" width="42" ng-click="setLanguage('en')">
                <img src="@{'/public/images/pt-br.png'}" style="{{language != 'pt-br' ? 'opacity:0.4' : ''}};cursor: pointer" title="Português" height="42" width="42" ng-click="setLanguage('pt-br')">
            </div>
            <pdf-download url="http://localhost:9000/renderPDF" filename="my-awesome.pdf"></pdf-download>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">SysPlay</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <!--li class="active"><a href="#/users">Home <span class="sr-only">(current)</span></a></li-->
                            <li>
                                <a href="#/projects">{{'generic.Projects' | translate}}</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    {{'generic.Register' | translate}} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#/occupations">{{'generic.Occupations' | translate}}</a></li>
                                    <li><a href="#/users">{{'generic.Users' | translate}}</a></li>
                                    <!--li><a href="#">Another action</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li-->
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <span us-spinner="{radius:30, width:8, length: 16}"></span>
            <flash-message duration="5000" show-close="true" ></flash-message>

            <div class="row-fluid">
                <!--Body content-->
                <!--#{doLayout /}-->
                <div ng-view />
            </div>
        </div>

    </body>
</html>
