<a class="btn btn-primary" href="#occupations/form">
    <span class="glyphicon glyphicon-plus"></span>
    {{'generic.New' | translate:[('occupations.Occupation' | translate)]}}
</a>

<!-- /.panel-heading -->
<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="1%">#</th>
                <th>{{'occupations.Name' | translate}}</th>
                <th width="25%">{{'generic.Action' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="occupation in ctrl.paginate.listPaginated">
                <td>{{occupation.id}}</td>
                <td><a href="#occupations/detail/{{occupation.id}}">{{occupation.name}}</a></td>
                <td>
                    <a class="btn btn-success" href="#occupations/edit/{{occupation.id}}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        {{'generic.Edit' | translate}}
                    </a>
                    <a class="btn btn-danger" ng-click="ctrl.removeOccupation(occupation);">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {{'generic.Delete' | translate}}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination paginate="ctrl.paginate"></pagination>
    </div>
    <!-- /.table-responsive -->
</div>