<a class="btn btn-primary" href="#occupations">
    <span class="glyphicon glyphicon-arrow-left"></span>
    {{'generic.Back' | translate}}
</a>

<fieldset>
    <legend><i class="fa fa-cloud-download"></i> {{'generic.Detail' | translate:[('occupations.Occupation' | translate)]}} </legend>
</fieldset>
<div class="row">
    <table>
        <tr>
            <td class="tdDetailLeft">#</td>
            <td>{{ctrl.occupation.id}}</td>
        </tr>
        <tr>
            <td class="tdDetailLeft">{{'occupations.Name' | translate}}</td>
            <td>{{ctrl.occupation.name}}</td>
        </tr>
        <tr>
            <td class="tdDetailLeft">{{'generic.Created' | translate}}</td>
            <td>{{ctrl.occupation.created | date:('generic.date.format' | translate)}}</td>
        </tr>
        <tr>
            <td class="tdDetailLeft">{{'generic.Modified' | translate}}</td>
            <td>{{ctrl.occupation.modified | date:('generic.date.format' | translate)}}</td>
        </tr>
    </table>
</div>